* {
    margin: 0;
    padding: 0;
    color: #252525;
}

body {
    font-family: 'Kanit';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    width: 60%;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    line-height: 1.2;
}

.images {
    display: flex;
    margin: 3rem 0;
    gap: 200px;
}

.image-container {
    border: 10px solid #59515E;
    padding: 10px;
    background-color: white;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}




