*{
    color: #252525;
}
body{
    font-family: 'Kanit';
    margin: 0;
    background-color: #fcfcfc;
}

/* NavBar */

#navbar {
    padding:0;
    width: 50%;
    margin: 1.5vw auto;
    list-style-type: none;
    text-align: center;
    display: block;
}
#navbar li {
    margin: 5%;
    display: inline; 
}
#navbar a {
    font-size: 1vw;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    display: inline-block;
}

/* Lines */

#horizontal-line-head{
    animation-duration: 1s;
    animation-name: line-appear;
    width: 50%;
    height: 2px;
    margin: 1% auto;
    background-color:#252525;
}
#horizontal-line-photo{
    animation-duration: 1s;
    animation-name: line-appear;
    width: 70%;
    height: 2px;
    margin: 3% auto;
    background-color:#252525;
}

/* Team photos */

#team-photos-container{
    background: linear-gradient(45deg, #111111, #363636);;
    
    padding-top: 2vw;
}
#team-photos-container h1{
    animation-duration: 1s;
    animation-name: card-appear;
    color: #fcfcfc;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 2.7vw;
    margin: 2vw auto;
    margin-top: 0;
}

/* Cards */

.card-line{
    animation-duration: 1s;
    animation-name: card-appear;
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}
.card{
    text-align: center;
    width: 18%;
    margin: 0 2%;
}
.card img{
    border: 0.7vw solid #fcfcfc;
    box-shadow: 0.5vw 0.5vw 1.5vw 0vw #dadadaa2;
    text-align: center;
    border-radius: 2vw;
    display: block;
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
}
.card h2{
    color: #fcfcfc;
    line-height: 1.8vw;
    width:50%;
    margin: 5% auto;
    font-size: 1.5vw;
    font-weight: 500;
}

/* Content */

.content-container{
    display:flex;
    height: 20vw;
    margin-bottom: 5vw;;
}
#container-head{
    color: #252525;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 2.7vw;
}
.content-text-block{
    display: block;
    border: 0.7vw solid #fcfcfc;
    background-color: #fcfcfc;
    box-shadow: 0.5vw 0.5vw 1.5vw 0vw #5a5a5a94;
    border-radius: 1vw;
    width: 60%;
    margin: auto;
    height: 100%;
}
.content-text-block h2{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 3vw;
    margin-bottom: 1vw;
}
.content-text-block p{
    font-size: 1.5vw;
    margin: 3vw;
    margin-top: 2vw;
}
.content-img-block{
    display: block;
    border: 0.7vw solid #fcfcfc;
    box-shadow: 0.5vw 0.5vw 1.5vw 0vw #5a5a5a94;
    border-radius: 1vw;
    width: 30%;
    margin: auto;
    height: 100%;
    object-fit: cover;
}
/* Keyframes */

@keyframes card-appear {
    from{
        opacity: 0;
        margin-top: 10%;
    }
    to {
        opacity: 100%;
    }
}
