*{
    color: #252525;
}
body{
    font-family: 'Kanit';
    margin: 0;
    background-color: #fcfcfc;
}

/* NavBar */

#navbar {
    padding:0;
    width: 50%;
    margin: 1.5vw auto;
    list-style-type: none;
    text-align: center;
    display: block;
}
#navbar li {
    margin: 5%;
    display: inline; 
}
#navbar a {
    font-size: 1vw;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    display: inline-block;
}

/* Lines */

#horizontal-line-head{
    width: 50%;
    height: 2px;
    margin: 1% auto;
    background-color:#252525;
}
#horizontal-line-photo{
    width: 70%;
    height: 2px;
    margin: 4% auto;
    background-color:#252525;
}

/* Team photos */

#team-photos-container{
    animation-duration: 1s;
    animation-name: card-appear;
}
#team-photos-container p{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 2.7vw;
    margin: 1vw auto;
    margin-top: 0;
}

/* Cards */

.card-line{
    display: flex;
    justify-content: center;
}
.card{
    width: 18%;
    margin: 0 2%;
}
.photo-card{
    box-shadow: 10px 10px 30px 0px #5a5a5a94;
    text-align: center;
    border-radius: 2vw;
    padding: 5%;
}
.photo-card img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1.5vw;
    object-fit: scale-down;
    margin: 0;
}
.card h1{
    line-height: 1.8vw;
    width:50%;
    display: inline-block;
    margin: 5% auto;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 500;
}

/* Content */

.content-container{
    background-color: #ffffff;
    min-height: 5vw;
    margin: 2vw auto;
    width: 98%;
    box-shadow: 10px 10px 20px 0px #5a5a5a7a;
    text-align: center;
    border-radius: 1vw;
}

/* Keyframes */

@keyframes navbar-appear {
from {
    margin-top: 10%;
    opacity: 0;
}

to {
    opacity: 100%;
}
}
@keyframes card-appear {
    from{
        opacity: 0;
        margin-top: 10%;
    }
    to {
        opacity: 100%;
    }
}